<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="projet_ga_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <projet_ga_v2.Properties.Settings>
            <setting name="ServerAdress" serializeAs="String">
                <value>mysql-benoit73.alwaysdata.net</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>benoit73_symfony_v5</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>benoit73_2</value>
            </setting>
            <setting name="Pwd" serializeAs="String">
                <value>gogolito</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
        </projet_ga_v2.Properties.Settings>
    </userSettings>
</configuration>